<launch>
<!-- Параметры запуска -->
    <arg name="rviz" default="false" />
    <arg name="rqt" default="false" />

    <!-- Запуск узла лидара -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />


    <!-- Узел для веб-камеры ноутбука -->
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="framerate" value="30" />
    <param name="pixel_format" value="mjpeg" />
    </node>


    <!-- Запуск узла IMU -->
    <node pkg="imu_bosch" type="imu_node" name="imu_node" output="screen" />

    <!-- Запуск узла управления двигателями -->
    <node pkg="rosserial_python" type="serial_node.py" name="motor_controller">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

    <!-- Запуск RViz при необходимости -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_courier)/rviz/robot_courier.rviz" />
    </group>

    <!-- Запуск RQT при необходимости -->
    <group if="$(arg rqt)">
        <node name="rqt" pkg="rqt_gui" type="rqt_gui" />
    </group>
</launch>
